/* Coolors Exported Palette - coolors.co/083d77-ebebd3-da4167-f4d35e-f78764 */

/* HSL */
$color1: hsla(211%, 87%, 25%, 1);
$color2: hsla(60%, 38%, 87%, 1);
$color3: hsla(345%, 67%, 55%, 1);
$color4: hsla(47%, 87%, 66%, 1);
$color5: hsla(14%, 90%, 68%, 1);

/* RGB */
$color1: rgba(8, 61, 119, 1);
$color2: rgba(235, 235, 211, 1);
$color3: rgba(218, 65, 103, 1);
$color4: rgba(244, 211, 94, 1);
$color5: rgba(247, 135, 100, 1);
